<!DOCTYPE html>
<html>
<head>
	<title>Join!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="header jumbotron col-xs-12">
		<h1 class="col-xs-6">Hi, <%= @user.given_name %>!</h1>
		<div class="logout text-right container col-xs-6">
			<a class="text-warning" href="/logout">Logout </a><br />
			<a class="text-danger" href="users/delete">Delete User</a>
		</div>		
		<h3 class="col-xs-12">Join as many as you'd like:</h3>
	</div>

	<div class="content well col-xs-12">	
		<div class="org col-xs-12 col-sm-6">
			<% if @orgs %>
			<h2>Organizations</h2>
				<% @orgs.each do |org| %>
					<% if org %>
						<% @check = User.find_by_email(org.creator).id %>
						<div class="title col-xs-12">
							<p><u><a class="" style="font-size: 1.5em" href="/groups/<%= org.id %>/group"><%= org.name %></a></u>
							<span class="">Members: <%= org.users.count %></span>
							</p>

							<% if @check == session[:id] %>
								<a class="text-danger pull-right" href="/orgs/<%= org.id %>/delete">Delete</a>
							<% end %>
						
							<h5><%= org.description %></h5>
						</div>				
						
					<% end %>
				<% end %>
			<% end %></br>
		</div>

		<div class="right col-xs-12 col-sm-4 well">
			<h3>Create a New Organization</h3>

			<% if flash[:new_org] %>
				<p class="text-danger col-xs-12"> *<%= flash[:new_org] %></p>
			<% end %>
			<form class="col-xs-12" action="/orgs/create" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="form-group">
				Org Name: <input class="" type="text" name="org[name]">
				</div>
				<div class="form-group">
				Description: <input class="" type="text" name="org[description]">
				</div>
				<input class="btn btn-primary" type="submit" name="create">
			</form>
		</div>	
	</div>	
</body>
</html>













